.super-mario {
    width: 200px;
    position: absolute;
    left: 40px;
    top: 70px;
  }
  
  .goomba {
    width: 200px;
    position: absolute;
    left: 40px;
    top: 380px;
  }
  
  .baloon {
    position: absolute;
    left: 260px;
    z-index: 1;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    left: 270px;
    top: 120px;
    z-index: 2;
  }
  
  .bowser {
    width: 300px;
    position: absolute;
    top: 190px;
    left: 550px;
  }