div:hover {
    width: 40%;
    border: 3px solid;
}


.cor-primaria:hover{
    border-color: #3C887E;
}

.cor-secundaria:hover{
    border-color: #5B7B7A;

}

.cor-complementar:hover{
    border-color: #A17C6B;
    width: 50%;
}

.cor-escura:hover{
    border-color: #CEB5A7;
}

.cor-clara:hover{
    border-color: #E0F2E9;
}

h3 {
    font-family: 'Roboto Mono', monospace;
}

.cor-primaria > h3 {
    font-style: italic;
}

.cor-complementar > h3 {
    font-size: 25px;
    font-style: italic;
}

.cor-clara > h3 {
    font-style: italic;
}